server:
  address: 0.0.0.0
  port: ${SERVER_PORT:8084}

spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: ${SPRING_APPLICATION_NAME:gateway}

  cloud:
    gateway:
     
      discovery:
        locator:
          enabled: true
      routes:
        - id: security-service
          uri: lb://security-service
          predicates:
            - Path=/api/security/**, /oauth2/**, /jwks/**
        - id: oilproductionservice
          uri: lb://OILPRODUCTIONSERVICE
          predicates:
            - Path=/api/production/**
        - id: financeservice
          uri: lb://financeservice
          predicates:
            - Path=/api/finance/**

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${OAUTH2_ISSUER_URI:http://localhost:8088}
          jwk-set-uri: ${OAUTH2_JWK_SET_URI:http://localhost:8088/oauth2/jwks}

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty: DEBUG
    com.osm.gateway.config.GatewaySecurityConfig: DEBUG

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka/}

  instance:
    prefer-ip-address: true
    hostname: ${EUREKA_INSTANCE_HOSTNAME:localhost}
